{% extends "base.html" %}

{% block content %}
    <div>
        <div>
            <h1>Activity Details</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Data</th>
                    <th scope="col">Value</th>
                </tr>
                </thead>
                <tbody>
                 <tr>
                    <th scope="row">0</th>
                    <td>Sport:</td>
                    <td>{{ activity.sport }}</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Description:</td>
                    <td>{{ activity.description }}</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Date:</td>
                    <td>{{ activity.time }}</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Duration:</td>
                    <td>{{ activity.duration }}</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Calories:</td>
                    <td>{{ activity.calories }}</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Distance:</td>
                    <td>{{ activity.distance }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href={% url 'activity:update' pk=activity.id %}><button class="btn btn-warning">Update</button></a>
            <a href={% url 'activity:delete' pk=activity.id %}><button class="btn btn-danger">Delete</button></a>
        </div>
    </div>
{% endblock %}

